Repository yeonwook1993/submariner, changes with the owners that CODEOWNERS names for each.
All owners: @mangelajo, @Oats87, @skitt, @tpantelis, @mkolesnik, @sridhargaddam

CODEOWNERS:

# Auto-generated, do not edit; see CODEOWNERS.in
* @mangelajo @Oats87 @skitt @tpantelis
/.github/workflows/ @mangelajo @mkolesnik @Oats87 @skitt @tpantelis
/package/ @mangelajo @mkolesnik @Oats87 @skitt @tpantelis
/pkg/globalnet/ @mangelajo @Oats87 @skitt @sridhargaddam @tpantelis
/pkg/routeagent_driver/ @mangelajo @Oats87 @skitt @sridhargaddam @tpantelis
/scripts/ @mangelajo @mkolesnik @Oats87 @skitt @tpantelis
Dockerfile.dapper @mangelajo @mkolesnik @Oats87 @skitt @tpantelis
Makefile* @mangelajo @mkolesnik @Oats87 @skitt @tpantelis

Renewal submariner
  package/Dockerfile.submariner-gateway
  package/createTunnel.sh
  package/route.sh
Owners: @mangelajo, @mkolesnik, @Oats87, @skitt, @tpantelis

Vpp cable proto ver0.0.1
  main.go
  pkg/cable/gre/gre.go
  pkg/cable/vpp/vpp.go
  pkg/cableengine/cableengine.go
Owners: @mangelajo, @Oats87, @skitt, @tpantelis

Adding Script File
  git_clone.sh
  package/Dockerfile.submariner-gateway
  package/createTunnel.sh
  package/routeSubnet.sh
  package/routeTunnel.sh
Owners: @mangelajo, @Oats87, @skitt, @tpantelis, @mkolesnik

Vpp cable proto ver0.0.1
  pkg/controllers/tunnel/tunnel.go
  pkg/endpoint/local_endpoint.go
Owners: @mangelajo, @Oats87, @skitt, @tpantelis

vpp_wireguard proto type v0.0.1
  package/Dockerfile.submariner-gateway
  package/routeSubnet.sh
  package/wireguardConnect.sh
  package/wireguardCreate.sh
  package/wireguardSetLocal.sh
  pkg/cable/vpp_wireguard/vpp_wireguard.go
  pkg/cableengine/cableengine.go
  pkg/endpoint/local_endpoint.go
  s-build.sh
Owners: @mangelajo, @mkolesnik, @Oats87, @skitt, @tpantelis

Revising script code & routeagent code are Required
  package/Dockerfile.submariner-gateway
  package/createTunnel.sh
  package/wireguardConnect.sh
  pkg/cable/vpp/vpp.go
  pkg/cable/vpp_wireguard/vpp_wireguard.go
  pkg/cableengine/cableengine.go
Owners: @mangelajo, @mkolesnik, @Oats87, @skitt, @tpantelis

repair wireguard key exchange
  package/routeSubnet.sh
  package/wireguardCreate.sh
  pkg/cable/vpp_wireguard/vpp_wireguard.go
Owners: @mangelajo, @mkolesnik, @Oats87, @skitt, @tpantelis

[vpp_wireguard] Create Exception Code
  package/routeSubnet.sh
  package/wireguardConnect.sh
  package/wireguardCreate.sh
  package/wireguardSetLocal.sh
  pkg/cable/vpp_wireguard/vpp_wireguard.go
Owners: @mangelajo, @mkolesnik, @Oats87, @skitt, @tpantelis

Fix cidr create func
  build.sh
  package/Dockerfile.submariner-gateway
  package/routeSubnet.sh
  package/routeTunnel.sh
  package/wireguardConnect.sh
  package/wireguardCreate.sh
  package/wireguardSetLocal.sh
  pkg/apis/submariner.io/v1/types.go
  pkg/cable/vpp_wireguard/vpp_wireguard.go
  pkg/controllers/tunnel/tunnel.go
  pkg/endpoint/local_endpoint.go
  pkg/types/types.go
  s-build.sh
Owners: @mangelajo, @Oats87, @skitt, @tpantelis, @mkolesnik

Update: Modify Script file
  pkg/cable/vpp_wireguard/vpp_wireguard.go
Owners: @mangelajo, @Oats87, @skitt, @tpantelis

ERROR: VPP Recovery Failed
  package/Dockerfile.submariner-gateway
  package/tuntapCreate.sh
  package/wireguardCreate.sh
  package/wireguardSetLocal.sh
  pkg/cable/vpp_wireguard/vpp_wireguard.go
Owners: @mangelajo, @mkolesnik, @Oats87, @skitt, @tpantelis

DEV: set allowed ip
  package/Dockerfile.submariner-gateway
  package/createIPSecTunnel.sh
  package/wireguardConnect.sh
  pkg/cable/vpp_ipsec/vpp_ipsec.go
  pkg/cableengine/cableengine.go
Owners: @mangelajo, @mkolesnik, @Oats87, @skitt, @tpantelis

DEV: DEL VPP_IPSec
  package/Dockerfile.submariner-gateway
  package/createIPSecTunnel.sh
  package/tuntapCreate.sh
  pkg/cable/vpp_ipsec/vpp_ipsec.go
  pkg/cable/vpp_wireguard/vpp_wireguard.go
  pkg/cableengine/cableengine.go
Owners: @mangelajo, @mkolesnik, @Oats87, @skitt, @tpantelis

DEV: VPP_WIREGUARDv0.0.1
  build.sh
  package/Dockerfile.submariner-gateway
  pkg/apis/submariner.io/v1/types.go
  pkg/cable/vpp_wireguard/vpp_wireguard.go
  pkg/endpoint/local_endpoint.go
  pkg/types/types.go
Owners: @mangelajo, @Oats87, @skitt, @tpantelis, @mkolesnik

Update : vpp_wireguard.go
  pkg/cable/vpp_wireguard/vpp_wireguard.go
Owners: @mangelajo, @Oats87, @skitt, @tpantelis

Delete .github directory
  .github/ISSUE_TEMPLATE/broken-link.md
  .github/ISSUE_TEMPLATE/bug-report.md
  .github/ISSUE_TEMPLATE/committership.md
  .github/ISSUE_TEMPLATE/enhancement.md
  .github/ISSUE_TEMPLATE/failing-test.md
  .github/ISSUE_TEMPLATE/flaking-test.md
  .github/ISSUE_TEMPLATE/membership.md
  .github/ISSUE_TEMPLATE/support.md
  .github/PULL_REQUEST_TEMPLATE.md
  .github/dependabot.yml
  .github/stale.yml
  .github/workflows/branch.yml
  .github/workflows/codeowners.yml
  .github/workflows/dependent-issues.yml
  .github/workflows/e2e-external.yml
  .github/workflows/e2e-full.yml
  .github/workflows/e2e.yml
  .github/workflows/flake_finder.yml
  .github/workflows/linting.yml
  .github/workflows/periodic.yml
  .github/workflows/release.yml
  .github/workflows/unit.yml
  .github/workflows/upgrade-e2e.yml
Owners: @mangelajo, @Oats87, @skitt, @tpantelis, @mkolesnik
